rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow read, create, update: if request.auth != null
        && request.auth.uid == userId;

      allow delete: if false;

      match /tasks/{taskId} {
        allow read, create, update, delete: if request.auth != null
          && request.auth.uid == userId;
      }

      match /notes/{noteId} {
        allow read, create, update, delete: if request.auth != null
          && request.auth.uid == userId;
      }

      match /pet/{petId} {
        allow read, create, update: if request.auth != null
          && request.auth.uid == userId;
      }
    }
  }
}